networks:
  homeautomation:
    external: true

volumes:
  piper:
    driver: local
    driver_opts:
      type: nfs4
      o: addr=172.24.32.5,rw
      device: ":/srv/nfs4/docker_nfs/piper"

services:
  piper:
    container_name: piper
    restart: unless-stopped
    image: rhasspy/wyoming-piper:2.2.2
    # Choose a voice from https://rhasspy.github.io/piper-samples/
    command: --voice en_GB-alba-medium
    networks:
      - homeautomation
    volumes:
      - piper:/data
    env_file:
      - .env
    environment:
      - TZ=Europe/London
    ports:
      - 10200:10200
    labels:
      - com.centurylinklabs.watchtower.enable=true
