---
volumes:
  netdataconfig:
  netdatalib:
  netdatacache:
  cloudbeaver:
  meili_data:

networks:
  calcnet:

  traefik_proxy:
    external: true
    name: traefik_traefik_proxy

services:
  sharkey_web:
    #image: registry.activitypub.software/transfem-org/sharkey:latest
    image: registry.activitypub.software/transfem-org/sharkey:2025.4.5
    # build: .
    restart: always
    links:
      - db
      - redis
#     - meilisearch
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - calcnet
      - traefik_proxy
    volumes:
      - /docker/sharkey/files:/sharkey/files
      - /docker/sharkey/config:/sharkey/.config:ro
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_traefik_proxy
      - traefik.http.routers.firefish-http.entrypoints=web
      - traefik.http.routers.firefish-http.rule=Host(`social.glasgownet.com`)
      - traefik.http.routers.firefish-http.middlewares=firefish-https
      - traefik.http.middlewares.firefish-https.redirectscheme.scheme=https
      - traefik.http.routers.firefish.rule=Host(`social.glasgownet.com`)
      - traefik.http.routers.firefish.entrypoints=websecure
      - traefik.http.routers.firefish.tls=true
      - traefik.http.routers.firefish.tls.certresolver=letsencrypt
      - traefik.http.routers.firefish.tls.domains[0].main=social.glasgownet.com
      - traefik.http.services.firefish.loadbalancer.server.port=3000
      - traefik.http.services.firefish.loadbalancer.healthcheck.path=/
      - traefik.http.services.firefish.loadbalancer.healthcheck.port=3000
      - traefik.http.services.firefish.loadbalancer.healthcheck.timeout=30s
      - com.centurylinklabs.watchtower.enable=true

  redis:
    restart: unless-stopped
    image: docker.io/redis:7.4-alpine
    # container_name: firefish_redis
    container_name: sharkey_redis
    networks:
      - calcnet
    volumes:
      - /docker/sharkey/redis:/data
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 5s
      retries: 20
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
    labels:
      - com.centurylinklabs.watchtower.enable=true

  db:
    restart: unless-stopped
    # image: docker.io/postgres:12.2-alpine
    # image: docker.io/groonga/pgroonga:3.1.8-alpine-16-slim
    image: docker.io/postgres:16-alpine
    container_name: firefish_db
    networks:
      - calcnet
    env_file:
      - .env
    volumes:
      - /docker/firefish/db_15/db:/var/lib/postgresql/data
    healthcheck:
      # test: pg_isready -U postgres -h 127.0.0.1
      test: pg_isready --user="$${POSTGRES_USER}" --dbname="$${POSTGRES_DB}"
      interval: 5s
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
    labels:
      - com.centurylinklabs.watchtower.enable=true

  meilisearch:
    restart: unless-stopped
    image: getmeili/meilisearch:v1.3.4
    env_file:
      - .env
    networks:
      - calcnet
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
    volumes:
      - meili_data:/meili_data
