---

networks:
  traefik_proxy:
    driver: bridge

volumes:
  traefik_letsencrypt:

services:
  traefik:
    ## Reference material ##
    # https://github.com/ironicbadger/infra/blob/master/dev/traefik/docker-compose.yaml
    # https://blog.ktz.me/traefik-v2-and-unifi-controller-in-docker/
    # https://community.traefik.io/t/healthcheck-through-traefik/10000/6
    # https://doc.traefik.io/traefik/routing/services/#health-check
    # https://gist.github.com/jeroenhendricksen/7dfe273277bbbd1c2ea2cb7c647b24fa
    image: "traefik:v3.6.9"
    container_name: "traefik"
    networks:
      - traefik_proxy
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --log.level=INFO
      - --accesslog=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=route53
      - --certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
    labels:
      # Configure wildcard certificates for viewpoint.house domain
      - "traefik.http.routers.wildcard-viewpoint.tls.certresolver=letsencrypt"
      - "traefik.http.routers.wildcard-viewpoint.tls.domains[0].main=viewpoint.house"
      - "traefik.http.routers.wildcard-viewpoint.tls.domains[0].sans=*.viewpoint.house"
      # Configure wildcard certificates for glasgownet.com domain
      - "traefik.http.routers.wildcard-glasgownet.tls.certresolver=letsencrypt"
      - "traefik.http.routers.wildcard-glasgownet.tls.domains[1].main=glasgownet.com"
      - "traefik.http.routers.wildcard-glasgownet.tls.domains[1].sans=*.glasgownet.com"
    ports:
      - "80:80"     # Web entrypoint
      - "443:443" # Websecure entrypoint
      - "8080:8080" # Traefik Dashboard
    volumes:
      - traefik_letsencrypt:/letsencrypt
      - "/docker/traefik/:/etc/traefik/"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped
