---

networks:
  traefik_proxy:
    # driver: overlay
    # driver: bridge

volumes:

  traefik_letsencrypt:
    driver: local
    driver_opts:
      type: nfs4
      o: addr=172.24.32.5,rw
      device: ":/srv/nfs4/docker_nfs/traefik/letsencrypt/"

services:
  traefik:
    ## Reference material ##
    # https://github.com/ironicbadger/infra/blob/master/dev/traefik/docker-compose.yaml
    # https://blog.ktz.me/traefik-v2-and-unifi-controller-in-docker/
    # https://community.traefik.io/t/healthcheck-through-traefik/10000/6
    # https://doc.traefik.io/traefik/routing/services/#health-check
    # https://gist.github.com/jeroenhendricksen/7dfe273277bbbd1c2ea2cb7c647b24fa
    image: "traefik:v3.6.9"
    container_name: "traefik"
    networks:
      - traefik_proxy
    env_file:
      - .env
    command:
      # - --providers.swarm.endpoint=unix:///var/run/docker.sock
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.haweb.address=:8123
      - --log.level=INFO
      - --accesslog=true
      - --tracing.otlp=true
      - --tracing.otlp.http=true
      - --tracing.otlp.http.endpoint=http://172.24.32.13:8200/v1/traces
      - --metrics.otlp=true
      - --metrics.otlp.http=true
      - --metrics.otlp.http.endpoint=http://172.24.32.13:8200/v1/metrics
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=route53
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.propagation.delayBeforeChecks=120
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
    labels:
      # Configure wildcard certificates for viewpoint.house domain
      - "traefik.http.routers.wildcard-viewpoint.rule=Host(`viewpoint.house`)"
      - "traefik.http.routers.wildcard-viewpoint.entrypoints=websecure"
      - "traefik.http.routers.wildcard-viewpoint.service=api@internal"
      - "traefik.http.routers.wildcard-viewpoint.tls=true"
      - "traefik.http.routers.wildcard-viewpoint.tls.certresolver=letsencrypt"
      - "traefik.http.routers.wildcard-viewpoint.tls.domains[0].main=viewpoint.house"
      - "traefik.http.routers.wildcard-viewpoint.tls.domains[0].sans=*.viewpoint.house"
      # Configure wildcard certificates for glasgownet.com domain
      - "traefik.http.routers.wildcard-glasgownet.rule=Host(`glasgownet.com`)"
      - "traefik.http.routers.wildcard-glasgownet.entrypoints=websecure"
      - "traefik.http.routers.wildcard-glasgownet.service=api@internal"
      - "traefik.http.routers.wildcard-glasgownet.tls=true"
      - "traefik.http.routers.wildcard-glasgownet.tls.certresolver=letsencrypt"
      - "traefik.http.routers.wildcard-glasgownet.tls.domains[0].main=glasgownet.com"
      - "traefik.http.routers.wildcard-glasgownet.tls.domains[0].sans=*.glasgownet.com"
    ports:
      - "80:80"     # Web entrypoint
      - "443:443" # Websecure entrypoint
      - "8090:8080" # Traefik Dashboard
      - "8123:8123" # For Home-Assistant
      - "8300:8300" # Emulated Hue for Home-Assistant and Alexa
    volumes:
      - traefik_letsencrypt:/letsencrypt
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
