---
volumes:
  home-assistant_config:
    driver: local
    driver_opts:
      type: nfs4
      o: addr=172.24.32.5,rw
      device: ":/srv/nfs4/docker_nfs/home-assistant/config/"

networks:
    traefik_proxy:
      external: true
      # Failure to provide the correct external network name results in:
      # Error response from daemon: failed to set up container networking: invalid cluster node while attaching to network
      name: traefik_traefik_proxy

    homeautomation:
      name: homeautomation

# Applications that are included here likely have dependencies on each other
include:
  - ../double-take/docker-compose.yaml
  - ../frigate/docker-compose.yaml
  - ../node-red/docker-compose.yaml
  - ../predbat/docker-compose.yaml
  - ../givtcp/docker-compose.yaml
  - ../esphome/docker-compose.yaml
  - ../zigbee2mqtt/docker-compose.yaml
  - ../eclipse-mosquitto/docker-compose.yaml

services:
  home-assistant:
    image: homeassistant/home-assistant:2025.12.2
    container_name: home-assistant
    depends_on:
      zigbee2mqtt:
          condition: service_healthy
      eclipse-mosquitto:
          condition: service_started
      # pihole:
      #     condition: service_healthy
    restart: unless-stopped
    # privileged: true
    # cap_add:
    #   - CAP_NET_BIND_SERVICE
    labels:
      # https://techoverflow.net/2022/03/27/how-to-fix-traefik-could-not-define-the-service-name-for-the-router-too-many-services/
      - traefik.enable=true
      - traefik.docker.network=traefik_traefik_proxy
      - traefik.http.routers.ha.rule=Host(`viewpoint.house`) || Host(`172.24.32.13`)
      - traefik.http.routers.ha.entrypoints=haweb
      - traefik.http.routers.ha.service=ha
      - traefik.http.services.ha.loadbalancer.server.port=8123
      - traefik.http.services.ha.loadbalancer.healthcheck.path=/
      - traefik.http.services.ha.loadbalancer.healthcheck.port=8123
      - traefik.http.routers.ha_hue.rule=Host(`viewpoint.house`) || Host(`172.24.32.13`)
      - traefik.http.routers.ha_hue.entrypoints=web
      - traefik.http.routers.ha_hue.service=ha_hue
      - traefik.http.services.ha_hue.loadbalancer.server.port=80
      - traefik.http.services.ha_hue.loadbalancer.healthcheck.path=/api/
      - traefik.http.services.ha_hue.loadbalancer.healthcheck.port=80

      - traefik.http.routers.hasecure.rule=Host(`viewpoint.house`) || Host(`172.24.32.13`)
      - traefik.http.routers.hasecure.entrypoints=websecure
      - traefik.http.routers.hasecure.service=ha
      - traefik.http.routers.hasecure.tls=true
      - traefik.http.routers.hasecure.tls.certresolver=letsencrypt
      - traefik.http.routers.hasecure.tls.domains[0].main=viewpoint.house
      - traefik.http.services.hasecure.loadbalancer.server.port=8123
      - traefik.http.services.hasecure.loadbalancer.healthcheck.path=/
      - traefik.http.services.hasecure.loadbalancer.healthcheck.port=8123
      - homepage.group=Home Automation
      - homepage.name=Home Assistant
      - homepage.icon=mdi-home-assistant
      - homepage.href=https://viewpoint.house
      - homepage.description=Home Assistant
      - com.centurylinklabs.watchtower.lifecycle.pre-check=exit 0
      - com.centerylinklabs.watchtower.enable=false
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      start_period: 60s
      interval: 30s
      timeout: 10s
      retries: 5
    # network_mode: host
    networks:
      - traefik_proxy
      - homeautomation
    ports:
      - 1900:1900/udp
      - 2869:2869/tcp
      # - 5353:5353/udp
      # - 5353:5353/tcp
    environment:
      - PUID=200
      - PGID=200
    # Not supported in Swarm mode
    devices:
      - /dev/serial/by-id/usb-RFXCOM_RFXtrx433_A1WRPEJT-if00-port0:/dev/ttyUSB0
    volumes:
      - home-assistant_config:/config
      - frigate_cctv:/media/frigate_cctv
      - /etc/localtime:/etc/localtime:ro
    logging:
      driver: gelf
      options:
        gelf-address: "udp://172.24.32.13:12201"
        tag: "{{.Name}}"
